/* Entire page */
html{
  background-color: #e9eff1be;
}

/* Top row that contains the "create" button */
.top-row{
  display: flex;
  flex-direction: row;
}

/* margin-left: auto is what pushes the button
  to the end of the flex main axis*/
.create-button{
  background-color: #25E21F;
  font-size: 16px;
  padding: 10px 15px;
  margin: 5px 10px 0px 0px;
  border-radius: 10px;
  border: 2px solid;
  margin-left: auto;
}

.create-button:hover{
  background-color: #25e21f9d;
  transform: scaleX(1.02) scaleY(1.02);
}

.create-button:active{
  background-color: #25E21F;
  transform: scaleX(0.98) scaleY(0.98);
}

.category-columns{
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  background-color: #e9eff1e3;
}

.completed-column{
  flex-grow: 1;
}

.completed-title{
  background-color: #87c2fa;
  text-align: center;
  border-top-left-radius: 15px;
  padding: 2px 0px
}

.progress-column{
  flex-grow: 1;
}

.progress-title{
  background-color: #ff7777;
  text-align: center;
  padding: 2px 0px
}

.upcoming-column{
  flex-grow: 1;
}

.upcoming-title{
  background-color: #86ff88;
  text-align: center;
  border-top-right-radius: 15px;
  padding: 2px 0px
}