@font-face {
  font-family: Inter;
  src: url("/public/font/Inter-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: Inter;
  src: url("/public/font/Inter-Italic-VariableFont_opsz\,wght.ttf");
  font-style: italic;
}

/* Entire page */
html{
  background-color: #e9eff1be;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Top row that contains the "create" button */
.top-row{
  display: flex;
  flex-direction: row;
}

.category-columns{
  margin: auto;
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  background-color: #e9eff1e3;
  max-width: 80vw;
}

.column-body{
  display: flex;
  flex-direction: column;
}

.completed-column{
  flex-grow: 1;
  flex: 1 1 0px;
  width: 0;
}

.completed-title{
  background-color: #87c2fa;
  text-align: center;
  border-top-left-radius: 15px;
  padding: 2px 0px;
}

.completed-body{
  padding: 10px 10px;
  min-height: 30vh;
}

.progress-column{
  flex-grow: 1;
  flex: 1 1 0px;
  width: 0;
  background-color: #e3e7e9e3;
}

.progress-title{
  background-color: #ff7777;
  text-align: center;
  padding: 2px 0px;
}

.progress-body{
  padding: 10px 10px;
  min-height: 30vh;
}

.upcoming-column{
  flex-grow: 1;
  flex: 1 1 0px;
  width: 0;
}

.upcoming-title{
  background-color: #86ff88;
  text-align: center;
  border-top-right-radius: 15px;
  padding: 2px 0px;
}

.upcoming-body{
  padding: 10px 10px;
  min-height: 30vh;
}

.add-button{
  font-size: 18px;
  padding: 0.6vh 0.6vw;
  align-self: flex-end;
}

.popup{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-body {
  background-color: #e3e7e9;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
  height: 100%;
  width: 100%;
  max-width: 50vw;
  max-height: 50vh;
  min-width: 450px;
  min-height: 400px;
  padding: 3vh 2vw;
}

.popup-body > h2{
  font-size: 22px;
  text-align: center;
  overflow-wrap: break-word;
  max-width: 50vw;
  min-width: 450px;
}

.button-container{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-left: auto;
}

.create-button{
  margin-top: auto;
  margin-right: 0.5vw;
  font-size: 18px;
  padding: 0.6vh 0.6vw;
  align-self: flex-end;
  background-color: #28FF28;
  border-color: #28FF28;
}

.cancel-button{
  margin-top: auto;
  font-size: 18px;
  padding: 0.6vh 0.6vw;
  align-self: flex-end;
  background-color: white;
  border-color: #28FF28;
}

.description-field{
  display: flex;
  flex-direction: column;
}

.task-container{
  list-style-type: none;
  padding: 0px;
}

.task-body{
  background-color: rgb(255, 255, 238);
  padding: 1vh 1vw;
  margin: 1vh 0vw;
  overflow: hidden;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.task-title{
  overflow-wrap: break-word;
}

.task-date{
  display: flex;
  overflow-wrap: break-word;
}

.task-date > p{
  font-size: 14px;
  margin: 0.5vh;
}

.delete-button{
  margin-top: 10px;
  background-color: rgb(233, 233, 220);
  color: black;
  padding: 2px 10px;
  border: none;
  font-size: 30px;
}

.delete-button:active{
  scale: 90%;
}

.delete-button > img{
  width: 20px;
  height: 20px;
}

.close-button{
  background: none;
  margin-left: auto;
  margin-top: -3vh;
  margin-right: -2vw;
  width: fit-content;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
}

.close-button:hover{
  background-color: red;
}

.task-description{
  overflow-wrap: break-word;
}